
<div class="artistWrapper" >
		<div class="header" style="height:30vh">
			<div class="top">
				<div class="logo">
					<img src="../img/logo.png"/>
					<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
				</div>
				<div class="navbar">
					<ul>
						<li><a ng-href="#!whatsup">What's Up?</a></li>
						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li class="button"><a ng-href="/#!/joinus">Join Us</a></li>
					</ul>
				</div>
			</div>
			<div class="heading" style="height:30vh;">
				<p style="font-size:350%;position:relative;">{{currentArtist.name}}</p>
				<p style="font-size:100%;position:relative;margin-top:0">{{currentArtist.subtitle}}</p>
				
			</div>
		</div>
		<div class="content">
			<div class="card">
					<div class="image" style="background:url('../{{currentArtist.img}}');background-size:cover;background-position: 60% 50%;"><div class="button">FOLLOW</div></div>
					<div class="dataArtist">
							<div class="about">
								<p style="color:#5a449a;font-weight:bold">ABOUT</p>
								<!-- <p>{{currentArtist.text}}</p> -->
								<p style="color:#808080">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. </p>
							</div>
							<div class="follow">
								<div class="sb">
									<p>FOLLOWERS</p>
									<p>{{currentArtist.followers}}</p>
								</div>
								<div class="sb">
									<p>FOLLOWING</p>
									<p>{{currentArtist.following}}</p>
								</div>
							</div>
					</div> 
			</div>
			<div>	
				<div class="videoPlayer">
						<div class="sb">
							<div>
								<div style="color:#edeeee;font-size:100%;margin-bottom:5px;font-weight:bold">Latest Workpiece</div>
								<div style="color:#757575;font-size:200%;font-weight:bold">Battle Symphony Cover</div>
							</div>	
							<div class="logos">
								<img src="../img/share.svg">
								<img src="../img/like.svg">
							</div>	
						</div>
						<div class="video">
							<iframe src="https://www.youtube.com/embed/y1yR6AJM0Rk" frameborder="0" allowfullscreen></iframe>
						</div>
				</div>
				<div class="endorsements">
					<ul>
					<li class="endorse">
						<div style="display:flex;flex-direction:column;margin-right:10px;">
							<div class="img" style="background:url('../img/cb.jpg');background-size:cover;background-position:50% 50%;"></div>
							<div class="name">Daft</div>
						</div>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</li>
					<li class="endorse">
						<div style="display:flex;flex-direction:column;margin-right:10px;">
							<div class="img" style="background:url('../img/cb.jpg');background-size:cover;background-position:50% 50%;"></div>
							<div class="name">Daft</div>
						</div>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</li>
					<ul>
				</div>
			</div>
		</div>
</div>
