<div class="artistWrapper">
	<div class="header" style="height:auto">
		<div class="top">
			<div class="logo">
				<img src="img/logo.png"/>
				<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
			</div>
			<div class="navbar">
			<ul>
					<li><a ng-href="#!trending">Trending</a></li>
					<li><a ng-href="#!whatsup">What's Up?</a></li>
					<li class="button"><a ng-href="/#!/joinus">Join Us</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="about" style="padding-bottom:0%;">
		<div class="heading">
			Celebrities
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="tab"></div>
	<div class="celebCards" style="margin-top:0;padding-top:0">
		<div class="noscroll">
			<div class="celebCard" ng-repeat="celeb in celebs" ng-click="setCeleb(celeb.code)">
			<a ng-href="#!celebrity/{{currentCeleb.code}}">
				<div class= "image" style="background:url({{celeb.img}});background-size:cover;background-position:50% 50% ;"></div></a>
				<div class="wrapper">
					<div class="name">{{celeb.name}}</div>
						<div class="subtitle">{{celeb.subtitle}}</div>
						<div class="underline" style="width:8em;height:4px;"></div>
						<div class="links" >
							<a href={{celeb.fb}}><img src="img/fb.png" /></a>
							<a href={{celeb.twitter}}><img src="img/twitter.png" /></a>
							<a href={{celeb.insta}}><img src="img/insta.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>