
<div class="artistWrapper">
		<div class="header" >
			<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="img/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
</nav>

			</div>
			<div class="heading" style="height:30vh;">
				<p style="font-size:350%;">{{currentCeleb.name}}</p>
				<p style="font-size:100%;margin-top:0;margin-bottom:50px;">{{currentCeleb.subtitle}}</p>
				
			</div>
		</div>
		<div class="content">
			<div class="box">
					<div class="image" style="background:url({{currentCeleb.img}});background-size:cover;background-position: 60% 50%;"><div class="button">FOLLOW</div></div>
					<div class="dataArtist">
							<div class="about">
								<p style="color:#5a449a;font-size:200%;font-weight:bold;margin-bottom:3%">ABOUT</p>
								<p style="color:#808080;font-size:120%;">{{currentCeleb.text}}</p>
							</div>
							<div class="follow">
								<div class="sb">
									<p>FOLLOWERS</p>
									<p>{{currentCeleb.followers}}</p>
								</div>
								<div class="sb">
									<p>FOLLOWING</p>
									<p>{{currentCeleb.following}}</p>
								</div>
								<div class="sb">
									<p>ENDORSEMENTS</p>
									<p>{{currentCeleb.endorsements}}</p>
								</div>
							</div>
					</div> 
			</div>
			<div>	<!-- 
				<div class="applyButton">
				<div style="margin:auto"> Apply</div>
				</div> -->
				<div class="title" style="white-space:nowrap" style="margin-top:50px;font-size:180%">Recent Endorsements</div>
			<!-- 	<div class="endorsements">
					<ul>
					<li class="endorse">
						<div style="display:flex;flex-direction:column;margin-right:10px;align-items:center">
							<a ng-href="/#!/artist/1"><div class="img" style="background:url('../img/fame.jpg');background-size:cover;background-position:50% 50%;"></div></a>
							<a ng-href="/#!/artist/1"><div class="name" style="white-space:nowrap;margin-top:2%;">Fame The Band</div></a>
						</div>
						<p style="font-size:130%;">Always about supporting new artists/bands! . This made me happy! Plus this band is connected to CRY - Child Rights and You via the kickass people at Star Connect ! So all your money is going to a very good place! Show them some love! ( Fame The Band ) </p>
					</li>
					<ul>
				</div> -->
			</div>
		</div>
</div>
