<div class="artistWrapper">
<div class="header" style="height:auto">
			<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="img/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <div class="button-collapse" style="cursor:pointer" ng-click="menuClick()"><i class="material-icons">menu</i></div>
				      <div class="button-cross" ng-click="closeMenu()"><i class="material-icons">close</i></div>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
						<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
</nav>

			</div>
</div>
<div style="display:flex;flex-direction:column;align-items:center">
	<p style="font-size:250%;color:#464c4c;font-weight:bold;margin:0;margin-top:3%;padding:0">Join Us</p>
	<div class="underline" style="width:4em"></div>
	<p class="centerpara joinus_details">
			Check out the What's Up page for more details on what you're signing up for! You have to pay Rs.250 to register.
	</p>
 	<div class="form">
		<form id = "register_form">
			<div class="row">
			<div class="col s12 m12 l6">
				<label>First Name</label>
				<input type="text" name="first_name" id="first_name" placeholder="John">
			</div>
			<div class="col s12 m12 l6">
				<label>Last Name</label>
				<input type="text" name="last_name" id="last_name" placeholder="Doe">
			</div>
			</div>
			<div class="row">
			<div class="col s12 m12 l6">
			<label>Username</label>
			<input type="text" name="username" id="username" placeholder="John_Doe">
			</div>
			<div class="col s12 m12 l6">
				<label>Phone Number</label>
				<input type="text" name="phone_no" id="phone_no" min="10" max="10" placeholder="9898989898">
			</div>
			</div>
			<div class="row">
			<div class="col s12 m12 l6">
				<label>Password</label>
			<input type="password" name="password"  id="password" placeholder="123456">
			</div>	
			<div class="col s12 m12 l6">
			<label>Confirm Password</label>
			<input type="password" name="confirm_password"  id="confirm_password" placeholder="123456">
			</div>
			</div>
			<div class="row">
				<div class="col s12">
				<label>Email ID:</label>
				<input type="text" name="email" id="email" placeholder="doejohn@contact.com">
			</div>	
			</div>
			<div class="row">
			<div class="col s12 m12 l6">
			<label>College (Choose Other if college isn't present in the list)</label>
			<select id="college" style="display:block !important" ng-change="check()" ng-model="collegename">
				<option ng-repeat = "college in colleges | orderBy:'name'" value={{college.name}}>{{college.name}}</option>
				<option value="other" id="other-college">Other</option>
			</select>
			</div>
			<div class="col s12 m12 l6" id="disabled-field" class="low_opacity">
			<label>If other, please specify!</label>
			<input type="text" disabled name="email" id="college_other" placeholder="doejohn@contact.com">
			</div>	
			</div>
			<div class="row">
				<div class=" col s12">
					<label>Youtube/Google Drive Link to video</label>
					<input type="text" name="url" id="url" placeholder="https://youtube.com/">
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<label>Profile Picture</label>
					<input style="display:block;" id="profile_pic" type="file" name="file"/>							
				</div>
			</div>
			<div class="row">
				<div class=" col s12">		
					<label>Referred By:</label>
					<input type="text" name="referred_by" id="referred_by" placeholder="doejohn@contact.com">

				</div>
			</div>
		</form>
	</div>
	<button class="submitButton" id="submit">Submit</button>
</div>
</div>