<div class="artistWrapper">
<div class="header" style="height:auto">
			<div class="top">
				<div class="logo">
					<img src="media/logo.png"/>
					<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
				</div>
				<div class="navbar">
					<ul>
					<li><a ng-href="#!trending">Trending</a></li>
					<li><a ng-href="#!whatsup">What's Up?</a></li>
					<li><a ng-href="#!artistlist">Artists</a></li>
					<li><a ng-href="#!celebritylist">Celebrities</a></li>
					<li><a ng-href="#!videolist">Videos</a></li>
					<li><a ng-href="#!login">Login</a></li>
					
					<li class="button"><a ng-href="/#!/joinus">Join Us</a></li>
				</ul>
				</div>
			</div>
</div>
<div style="display:flex;flex-direction:column;align-items:center">
	<p style="font-size:250%;color:#464c4c;font-weight:bold;margin:0;margin-top:3%;padding:0">Login</p>
	<div class="underline" style="width:4em"></div>
	<div class="row" style="width:100%">
		<div class="col s12" style="display:flex;flex-direction:column;justify-content:center;align-items:center">
			<div class="row">
			<div class="form" style="width:80%;margin:auto;margin-top:20px">
				<form id = "login_form">
					<label>Name</label>
					<input type="text" name="name" placeholder="John Doe">
					<label>Password</label>
					<input type="password" name="password" placeholder="123456">
				</form>
			</div>
		</div><!-- 
		<div class="col s6" >
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="false"></div>
				</div>
			</div>
		</div> -->
	</div>
	<button class="submitButton" id="login">Submit</button>
</div>
</div>