<div class="header">
			<div class="top">
				<div class="logo">
					<img src="img/logo.png"/>
					<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
				</div>
				<div class="navbar">
					<ul>
						<li><a href="#!whatsup">What's Up?</a></li>
						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li class="button"><a id="link" ng-href="#!joinus">Join Us</a></li>
					</ul>
				</div>
			</div>
			<div class="heading">
				<p style="font-size:350%;">A Connection to what Agency</p>
				<p style="font-size:100%;">We provide world class connection solutions.</p>
			</div>
		</div>

		<div class="about">
			<div class="heading">
				How it works?
				<div class="underline" style="width:3em;"></div>
			</div>
			<ul class="section">
				<li>
					<img src="img/artist.png"/>
					<div class="title">Artists</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<p>
				</li>
				<li>
					<img src="img/celeb.png"/>
					<div class="title">Celebrities</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<p>
				</li>
				<li>
					<img src="img/ngo.png"/>
					<div class="title">NGOs</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<p>
				</li>
				<li>
					<img src="img/exposure.png"/>
					<div class="title">Exposure</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<p>
				</li>
			</ul> 
		</div>

		<div class="celebCards">
			<div class="heading">
				Celebrities
				<div class="underline" style="width:3em;"></div>
			</div>
			<ul >
				<li class="celebCard" ng-repeat="celeb in celebs" ng-click="setCeleb(celeb.code)">
				<a ng-href="#!celebrity/{{currentCeleb.code}}">
					<div class= "image" style="background:url({{celeb.img}});background-size:cover;background-position:50% 50% ;"></div></a>
					<div class="wrapper">
						<div class="name">{{celeb.name}}</div>
							<div class="subtitle">{{celeb.subtitle}}</div>
							<div class="underline" style="width:8em;height:4px;"></div>
							<div class="links" >
								<a href={{celeb.fb}}><img src="img/fb.png" /></a>
								<a href={{celeb.twitter}}><img src="img/twitter.png" /></a>
								<a href={{celeb.insta}}><img src="img/insta.png" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="artistCards" >
			<div class="heading">
				Artists
				<div class="underline" style="width:2.5em;"></div>
			</div>
			<ul>
				<li class="artistCard" ng-repeat="artist in artists" ng-click="setArtist(artist.code)">
					<a ng-href="#!artist/{{currentArtist.code}}">
					<div class= "image" style="background:url({{artist.img}});background-size:cover;background-position:50% 50%;"></div>
					<div class="name">{{artist.name}}</div>
					<div class="subtitle">{{artist.subtitle}}</div>
					<div class="underline" style="width:8em;height:4px;"></div></a>
					<div class="links">
						<a href={{artist.fb}}><img src="img/fb.png" /></a>
						<a href={{artist.twitter}}><img src="img/twitter.png" /></a>
						<a href={{artist.insta}}><img src="img/insta.png" /></a>
					</div>
				</li>
			</ul>
		</div>