<div class="header">
			<div class="top">
				<div class="logo">
					<img src="img/logo.png"/>
					<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
				</div>
				<div class="navbar">
				<ul>
					<li><a ng-href="#!trending">Trending</a></li>
					<li><a ng-href="#!whatsup">What's Up?</a></li>
					<li><a ng-href="#!artistlist">Artists</a></li>
					<li><a ng-href="#!celebritylist">Celebrities</a></li>
					<li><a ng-href="#!videolist">Videos</a></li>
					<li class="button"><a ng-href="/#!/joinus">Join Us</a></li>
				</ul>
				</div>
			</div>
			<div class="heading">
				<p style="font-size:350%;margin-bottom:2%;text-align:center">Everyone loves great art but who cares about great artists? We do.</p>
               	<p style="font-size:120%;text-align:center">
               		We provide world class connection solutions - We are a multi - stakeholder network of upcoming artists,                                          
               		celebrities, fans and NGOs.
				</p>
			</div>
</div>

		<div class="about">
			<div class="heading">
				How it works?
				<div class="underline" style="width:3em;"></div>
			</div>
			<p style="text-align:center;color:#808080;font-size:120%">We take content from promising musicians, showcase it on our platform and get the best video shared by celebrities from their Facebook pages. We then donate all money collected from registered artists to our partner NGO, which then acknowledges the celebrity’s contribution on Social Media.</p>
			<ul class="section">
				<li>
					<img src="img/artist.png"/>
					<div class="title">Artists</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>If you’re an artist, this is your opportunity to get your work publicly shared by top music                
                          celebrities and showcase your content to a niche community of music fans<p>
				</li>
				<li>
					<img src="img/celeb.png"/>
					<div class="title">Celebrities</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>Music celebrities, your support helps discover and promote hidden talent while 
                        contributing to a social cause at the same time.<p>
				</li>
				<li>
					<img src="img/ngo.png"/>
					<div class="title">NGOs</div>
					<div class="small-underline" style="width:3em;"></div>
					<p> Use funds donated by us to boost social projects and benefit the society at large.<p>
				</li>
				<li>
					<img src="img/exposure.png"/>
					<div class="title">Exposure</div>
					<div class="small-underline" style="width:3em;"></div>
					<p>This self - sustaining cycle discovers new talent and empowers social causes through 
                               celebrities who care.<p>
				</li>
			</ul> 
		</div>

		<div class="celebCards">
			<div class="heading">
				Celebrities
				<div class="underline" style="width:3em;"></div>
			</div>
			<ul >
				<li class="celebCard" ng-repeat="celeb in celebs" ng-click="setCeleb(celeb.code)">
				<a ng-href="#!celebrity/{{currentCeleb.code}}">
					<div class= "image" style="background:url({{celeb.img}});background-size:cover;background-position:50% 50% ;"></div></a>
					<div class="wrapper">
						<div class="name">{{celeb.name}}</div>
							<div class="subtitle">{{celeb.subtitle}}</div>
							<div class="underline" style="width:8em;height:4px;"></div>
							<div class="links" >
								<a href={{celeb.fb}}><img src="img/fb.png" /></a>
								<a href={{celeb.twitter}}><img src="img/twitter.png" /></a>
								<a href={{celeb.insta}}><img src="img/insta.png" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="celebCards">
			<div class="heading">
				Artists
			<div class="underline" style="width:5em;"></div>
			</div>
			<ul >
				<li class="celebCard" ng-repeat="artist in artists" ng-click="setArtist(artist.code)">
				<a ng-href="#!artist/{{currentArtist.code}}">
					<div class= "image" style="background:url({{artist.img}});background-size:cover;background-position:50% 50% ;"></div></a>
					<div class="wrapper">
						<div class="name">{{artist.name}}</div>
							<div class="subtitle">{{artist.subtitle}}</div>
							<div class="underline" style="width:8em;height:4px;"></div>
							<div class="links" >
								<a href={{artist.fb}}><img src="img/fb.png" /></a>
								<a href={{artist.twitter}}><img src="img/twitter.png" /></a>
								<a href={{artist.insta}}><img src="img/insta.png" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div>