<div class="artistWrapper">
	<div class="header" style="height:auto">
	<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="img/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <div class="button-collapse" style="cursor:pointer" ng-click="menuClick()"><i class="material-icons">menu</i></div>
				      <div class="button-cross" ng-click="closeMenu()"><i class="material-icons">close</i></div>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
</nav>

			</div>
	</div>
	<div class="about" style="padding-bottom:0%;">
		<div class="heading">
			 Title Sponsors
			<div class="underline" style="width:3em;"></div>
		</div>
	</div>
	<div style="display:flex;justify-content:space-around;flex-wrap:wrap;margin-bottom:30px" class="container">
		<a  target="_blank" href="https://www.wcrartists.com">
			<div class="sponsor-card" style="background:url('../img/ns.png');background-size:cover;background-repeat:no-repeat;">
				<div></div>
			</div>
		</a>
		<a target="_blank"  href="https://www.wcrartists.com">
			<div class="sponsor-card" style="background:url('../img/wcr.png');background-size:cover;background-repeat:no-repeat;background-position:26% 50%">
			</div>
		</a>
	</div>

	<div class="about" style="padding-bottom:0%;">
		<div class="heading">
			 Augmented Reality Partner
			<div class="underline" style="width:3em;"></div>
		</div>
	</div>
	<div style="display:flex;justify-content:space-around;flex-wrap:wrap;margin-bottom:30px" class="container">
		<a target="_blank"  href="http://www.tada-time.com">
			<div class="sponsor-card" style="background:url('../img/tt.jpg');background-size:cover;background-repeat:no-repeat;">
			</div>
		<p class="centerpara" style="font-weight:bold;font-size:130%;text-align:center">World's First Augmented Reality Messenger</p>

		</a>
	</div>
	<div class="about" style="padding-bottom:0%;">
		<div class="heading">
			 Official Gifting Partner
			<div class="underline" style="width:3em;"></div>
		</div>
	</div>
	<div style="display:flex;justify-content:space-around;flex-wrap:wrap;margin-bottom:30px" class="container">
		<a target="_blank"  href="https://www.thesouledstore.com">
			<img src="../img/m3.jpg" >
		</a>
	</div>
		<div class="about" style="padding-bottom:0%;">
		<div class="heading">
			Media Partners
			<div class="underline" style="width:3em;"></div>
		</div>
	</div>
	<div style="display:flex;justify-content:space-around;flex-wrap:wrap;" class="container">
		<a  target="_blank" href="https://www.youth4work.com" class="media-card">
			<img src="../img/m1.png" >
		</a>
		<a target="_blank"  href=" https://www.wittyfeed.com" class="media-card">
			<img src="../img/m2.png" >
		</a>
		<a  target="_blank" href="http://ohcampus.com/v2/">
			<img src="../img/m4.png" class="media-card">
		</a>
		<a target="_blank"  href="https://www.hellointern.com" class="media-card">
			<img src="../img/m5.png" >
		</a>
		<a target="_blank"  href="http://www.grabon.in" class="media-card">
			<img src="../img/m6.png" >
		</a>
		<a  target="_blank" href="http://campusdrift.com" class="media-card">
			<img src="../img/m7.jpg" >
		</a>
		<a target="_blank"  href=" http://dubeat.com" class="media-card">
			<img src="../img/m8.jpg" >
		</a>
		<a target="_blank"  href=" https://allevents.in" class="media-card">
			<img src="../img/ae.png" >
		</a>
		<a target="_blank"  href=" http://atkt.in" class="media-card">
			<img src="../img/atkt.jpg" >
		</a>
	</div>