<div class="artistWrapper">
<div class="header" style="height:auto">
			<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="img/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <a href="!#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">What's Up?</a></li>
						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
						<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">What's Up?</a></li>
						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
				    </nav>
			</div>
</div>
<div class="about">
		<div class="heading">
			Thank You!
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			{{thankyou_data}}
		</p>
</div>