 <div class="artistWrapper">
	<div class="header" style="height:auto">
		<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="img/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <a class="button-collapse" style="cursor:pointer"><i class="material-icons">menu</i></a>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Register</a></li>
					<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Register</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
</nav>

			</div>
	</div>
	<div class="about">
		<div class="heading">
			Trending
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			Are you looking for the most loved artists, their best works and our latest celebrities? You’ve landed on the right page. Scroll to discover!

		</p>
		<div class="heading">
			Videos
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			Want to know what your fellow music enthusiasts are watching? Check out what’s hot!
		</p>
		<ul class="videos">
			<li >
				<iframe src="https://www.youtube.com/embed/ncgRnjc940g" frameborder="0" allowfullscreen></iframe>
				<div>Just This Smile</div>
				<div>Fame the band</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/qP77wti2puw" frameborder="0" allowfullscreen></iframe>
				<div>Dil ka suna saaz</div>
				<div>Miran Roy</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/_YDuEHrzs5c" frameborder="0" allowfullscreen></iframe>
				<div>The Old peace</div>
				<div>Hitesh Kumar</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/Mx_0vEdv2T0" frameborder="0" allowfullscreen></iframe>
				<div>Ishq Sufiana</div>
				<div>Ashutosh Singh</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/U3t3lNnYLs0" frameborder="0" allowfullscreen></iframe>
				<div>Aaye Tum Yaad Mujhe</div>
				<div>Srikanth Nair</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/XSeMEZZ-bnc" frameborder="0" allowfullscreen></iframe>
				<div>Classical Canon</div>
				<div>Danish Abdi</div>
			</li>

		</ul>
		<!--<div style="width:100%;display:flex;justify-content:center"><button class="seeall" ><a ng-href="#!videolist">See All</a></button></div>-->
		<div class="heading">
			Artists
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			Who’s grabbing all the eyeballs? Have a look! 
		</p>
		<div style="width:100%;display:flex;justify-content:center"><button class="seeall"><a ng-href="#!artistlist">See All</a></button></div>
		<div class="heading">
			Celebrities
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			The most loved maestros, the evangelists of music and the flagbearers of social change! 
		</p>
		<div class="container bigCelebCard" style="background:none">
		<div class="prev" id="prev-btn" ng-click="prev()"><img src="../img/back.svg"></div>
		<ul class="slide-celeb">
			<li class="slide-card" ng-repeat="celeb in celebs" ng-click="setCeleb(celeb.code)">
				<a ng-href="#!celebrity/{{currentCeleb.code}}/">
				<div class="bigCelebCard" style="background:url({{celeb.img}});background-size:cover;background-repeat:no-repeat;font-size:200%">
					<div style="width:auto;text-align:center">
						{{celeb.name}}
					</div>
				</div>
				</a>
			</li>
		</ul>
		<div class="next hover" id="next-btn" ng-click="next()"><img src="../img/next.svg" ></div>
		</div>
		<div style="width:100%;display:flex;justify-content:center"><button class="seeall" ><a ng-href="#!celebritylist">See All</a></button></div>
	</div>
</div>
