
<div class="artistWrapper">
	<div class="header" style="height:auto">
		<div class="top">
			<div class="logo">
				<img src="img/logo.png"/>
				<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
			</div>
			<div class="navbar">
			<ul>
					<li><a ng-href="#!trending">Trending</a></li>
					<li><a ng-href="#!whatsup">What's Up?</a></li>
					<li><a ng-href="#!artistlist">Artists</a></li>
					<li><a ng-href="#!celebritylist">Celebrities</a></li>
					<li><a ng-href="#!videolist">Videos</a></li>
					<li class="button"><a ng-href="/#!/joinus">Join Us</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="about" style="padding-bottom:0%;">
		<div class="heading">
			Videos
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			 Want to know what your fellow music enthusiasts are watching? This collection of beautiful music videos guarantees that no music is drowned out!		</p>
	</div>
		<ul class="videos" style="margin-top:10%">
			<!-- <li  style="margin-bottom:5%">
				<div class="videobox"><iframe width="560" height="315" src="https://www.youtube.com/embed/hQDck3xT9TY" frameborder="0" allowfullscreen></iframe></div>
				<div style="text-align:center">{{video.title}}</div>
				<div style="text-align:center">{{video.artist}}</div>
			</li> -->
			<li >
				<iframe src="https://www.youtube.com/embed/ncgRnjc940g" frameborder="0" allowfullscreen></iframe>
				<div>Just This Smile</div>
				<div>Fame the band</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/I2yYDufXj9E" frameborder="0" allowfullscreen></iframe>
				<div>Zaroori Tha</div>
				<div>Shashank Dixit</div>
			</li>
			<li >
				<iframe  src="https://www.youtube.com/embed/HJLJruqbwL4" frameborder="0" allowfullscreen></iframe>
				<div>Krish Theme</div>
				<div>Ujjwal Anand</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/iWwEd8R09HI" frameborder="0" allowfullscreen></iframe>
				<div>Tumne Mughe Phechana Nhi</div>
				<div>Tilak Chakraborty</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/yct4MECaLN0" frameborder="0" allowfullscreen></iframe>
				<div>Jalpari</div>
				<div>Varun</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/OPccDQry99M" frameborder="0" allowfullscreen></iframe>
				<div>Star Bappur</div>
				<div>Love Sagar</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/C_ANRc-x1XA" frameborder="0" allowfullscreen></iframe>
				<div>Sab Tera</div>
				<div>Shubham</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/qOlFWm4F0S4" frameborder="0" allowfullscreen></iframe>
				<div>Rag Jog</div>
				<div>Sumit Mishra</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/XCqg3FwEwV4" frameborder="0" allowfullscreen></iframe>
				<div>I'm 21</div>
				<div>Kushal Jasoria</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/W5iLAHMuOy4" frameborder="0" allowfullscreen></iframe>
				<div>Bol do na zara</div>
				<div>Hardik Tailor</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/qP77wti2puw" frameborder="0" allowfullscreen></iframe>
				<div>Dil ka suna saaz</div>
				<div>Miran Roy</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/_YDuEHrzs5c" frameborder="0" allowfullscreen></iframe>
				<div>The Old peace</div>
				<div>Hitesh Kumar</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/Mx_0vEdv2T0" frameborder="0" allowfullscreen></iframe>
				<div>Ishq Sufiana</div>
				<div>Ashutosh Singh</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/U3t3lNnYLs0" frameborder="0" allowfullscreen></iframe>
				<div>Aaye Tum Yaad Mujhe</div>
				<div>Srikanth Nair</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/XSeMEZZ-bnc" frameborder="0" allowfullscreen></iframe>
				<div>Classical Canon</div>
				<div>Danish Abdi</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/SnwEAosv_cE" frameborder="0" allowfullscreen></iframe>
				<div>Prison Of Reason</div>
				<div>Tailored Heaven</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/Sm-n0-5dFzY" frameborder="0" allowfullscreen></iframe>
				<div>Banjaara Soulsmiths</div>
				<div>Sahili Shah</div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/kFqNBp7DwKI" frameborder="0" allowfullscreen></iframe>
				<div>Tyrrhenian</div>
				<div>Live </div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/x_O5CefAm5Q" frameborder="0" allowfullscreen></iframe>
				<div>Snuff</div>
				<div>Mohnish Grover </div>
			</li>
			<li >
				<iframe src="https://www.youtube.com/embed/13T73FypiNc" frameborder="0" allowfullscreen></iframe>
				<div>Payal ki Jhankaar</div>
				<div>Brahmastra</div>
			</li>
		</ul>
</div>