<div class="artistWrapper">
	<div class="header" style="height:auto">
		<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="img/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <div class="button-collapse" style="cursor:pointer" ng-click="menuClick()"><i class="material-icons">menu</i></div>
				      <div class="button-cross" ng-click="closeMenu()"><i class="material-icons">close</i></div>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">Dilli Beats</a></li>

						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!partners">Our Partners</a></li>
				
						<!--<li><a ng-href="#!videolist">Videos</a></li>-->

						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
</nav>

			</div>
	</div>
	<div class="about">
		<div class="heading">
			Dilli Beats
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara" style="margin-bottom:20px">
At Star Connect, it’s our mission to discover hidden talent and we believe that the search should start right where the youth resides. Star Connect in association with Namyoho Studios proudly presents Dilli Beats: an Online College Music Competition across 50 Delhi Colleges wherein the top 15 musicians get professional music videos and audio recordings each shot by Namyoho Studios for free. They then get their work reviewed by the likes of Parikrama, Thaikkudam Bridge, Swarathma and Euphoria and finally promoted by them through their social media handles (for a minimum of 4 artists)! What else? One lucky artist also gets the opportunity to go live on Facebook with Parikrama! Moreover, the registration fees will be used to donate a combined sum of Rs, 50,000 to the Smile Foundation to help underprivileged children.
		</p>
		<div class="heading" style="margin-bottom:5%;">
			How it Works?
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
		Register with a video link of your past singing performance, get maximum engagement on your video to be a part of the top 30. After shortlisting of the top 15 from the top 30 by Namyoho Studios and Star Connect, free professional music videos will be recorded for the top 15 and these would be sent to celebrities for review. The top 4 would be promoted by celebrities.</p>
		<p class="centerpara"><b>Registrations:</b> Fees - Rs. 250. All money collected from registrations will be used to donate a combined sum of Rs. 50,000 to the Smile Foundation to help underprivileged children. Registrations open till 5th October.</p>
		<p class="centerpara"><b>Competition:</b> Get maximum points (views + engagement) on your video to win! Dates - 15th October - 25th October. More details to follow.</p>
		<div class="buttons" style="margin-bottom:50px"><button class="seeall"><a ng-href="#!whatsup">Register Now!</a></button></div>
		<!-- <ul class="altlist">
			<li>
				<img src="img/artist.png"/>
				<div>
					<div class="title">Artists</div>
					<!-- <div class="small-underline" style="width:5.5em"></div> 
					<p>
						This is your opportunity to win love of music enthusiasts, work with professionals for music videos worth Rs. 4 Lakhs, get your work reviewed and shared by music celebrities and multiple social media channels! Register with us for a nominal amount which gets transferred to the Smile Foundation in order to help underprivileged children!
					</p>
				</div>
			</li>
			<li>
				<div>
					<div class="title" style="text-align:right">Music Lovers</div>
					<!-- <div class="small-underline" style="width:12em;position:relative;left:75%;"></div>
					<p> Support your college, view undiscovered content, exert the power of being a music enthusiast by voting for the top musicians! Show us some love!</p>
				</div>
				<img src="img/artist.png"/>
			</li>
			<li>
				<img src="img/artist.png"/>
				<div>
					<div class="title">Leaderboard</div>
					<!-- <div class="small-underline" style="width:11em"></div>
					<p>Keep track of the top artists, the winning colleges and make sure that you don’t let your support fall short! </p>
				</div>
			</li>
		</ul> -->
		<div class="heading" style="margin-bottom:5%;">
			Leaderboard (Artist)
			<div class="underline" style="width:3em;"></div>
		</div>
		<div class="leaderboard"> 
			<div class="container" style="height:100%">
				<div class="row" style="height:100%">
					<div class="col s4 cover" style="height:100%">
					<div>
						<p style="font-weight:10">WEEKLY</p>
						<p style="margin-top:0;font-weight:10">LEADERBOARD</p>
					</div>
					<img src="../img/logo.png">
					<p style="font-size:60%;font-weight:100;padding-left:10%;padding-right:10%;">Disclaimer:The leaderboard is compiled by comparing the view over a week starting on monday.</p>
					</div>
					<div class="col s7 list" style="height:96.5%;padding:0;margin-top:1%;">
						<ul>
							<li ng-repeat="artist in artists" ng-click="setArtist(artist.code)">
								<a ng-href="#!artist/{{currentArtist.code}}">
								<div class= "image" style="background:url({{artist.profile_pic}});background-size:cover;background-position:50% 50%;"></div>
								<div>
									<div class="name">{{artist.first_name}}</div>
									<div style="font-weight:bold;font-size:120%">{{artist.last_name}}</div>
									<div class="views">{{artist.views}} Views</div>
								</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="heading" style="margin-bottom:5%;">
			Leaderboard (Colleges)
			<div class="underline" style="width:3em;"></div>
		</div>
		<div class="leaderboard"> 
			<div class="container" style="height:100%">
				<div class="row" style="height:100%">
					<div class="col s4 cover" style="height:100%">
					<div>
						<p style="font-weight:10">WEEKLY</p>
						<p style="margin-top:0;font-weight:10">LEADERBOARD</p>
					</div>
					<img src="../img/logo.png">
					<p style="font-size:60%;font-weight:100;padding-left:10%;padding-right:10%;">Disclaimer:The leaderboard is compiled by comparing the view over a week starting on monday.</p>
					</div>
					<div class="col s7 list" style="height:96.5%;padding:0;margin-top:1%;">
						<ul>
							<li ng-repeat="college in colleges">
							<a href="#">
								<!-- <div class= "image" style="background:url({{college.img}});background-sie:cover;background-position:50% 50%;"></div>
								 --><div>
									<div class="name" style="font-size:130%;">{{college.name}}</div>
								<!-- 	<div >{{college.city}}</div> -->
									<div class="view">{{college.views}} Views</div>
								</div>
							</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="heading" style="margin-bottom:5%;">
			Contact Us!
			<div class="underline" style="width:3em;"></div>
		</div>
		<div class="container">
			<div class="contact-links">
				<a target="_blank" href="https://www.facebook.com/StarConnectHQ/"><img src="../img/fb_link.png"></a>
				<a target="_blank" href="https://www.twitter.com/StarConnectHQ/"><img src="../img/twitter_link.svg"></a>
				<a target="_blank" href="https://www.instagram.com/starconnecthq/"><img src="../img/insta_link.png"></a>
				<a target="_blank" href="mailto:vinayakaggarwal2507@gmail.com"><img src="../img/email_link.png"></a>
			</div>
		</div>
	</div>
</div>
