<div class="artistWrapper">
	<div class="header" style="height:auto">
		<div class="top">
				<nav style="background-color:transparent;box-shadow:none;z-index:5">
					<div class="nav-wrapper">
					  <a class="brand-logo" style="height:100%;font-weight:bold;display:flex;align-items:center" ng-href="#!/"><img src="media/logo.png"/ style="height:50px;width:50px;">star connect</a>
				      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				      <ul class="right hide-on-med-and-down">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">What's Up?</a></li>
						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!videolist">Videos</a></li>
						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a ng-href="#!trending">Trending</a></li>
						<li><a ng-href="#!whatsup">What's Up?</a></li>
						<li><a ng-href="#!artistlist">Artists</a></li>
						<li><a ng-href="#!celebritylist">Celebrities</a></li>
						<li><a ng-href="#!videolist">Videos</a></li>
						<li class="login-link" ng-hide="login"><a ng-href="#!login" >Login</a></li>
						<li class="signup-button" ng-hide="login"><a ng-href="/#!/joinus">Join Us</a></li>
<li class=profile-button ng-show="login"><a ng-href="#!profile">Hi, {{currentUser.first_name}}</a></li>
				      </ul>
				    </div>
				    </nav>
			  </nav>
			</div>
	</div>
	<div class="about">
		<div class="heading">
			What's up
			<div class="underline" style="width:3em;"></div>
		</div>
		<p class="centerpara">
			In our mission to discover hidden talent, we believe that the search should start right where the youth resides. Yes, the colleges are buried treasures of undiscovered talent and we are striving to present it to the world stage. We are running an online college music competition in 50 Delhi Colleges during the period of August - September. Top 20 musicians get individual music videos recorded at exotic locations, get their work reviewed and shared by music celebrities and multiple social media channels! Are you a musician? Register now! A music enthusiast? Support the top musicians through your votes and engagement!
		</p>
		<div class="heading" style="margin-bottom:5%;">
			How it Works?
			<div class="underline" style="width:3em;"></div>
		</div>
		<ul class="altlist">
			<li>
				<img src="media/artist.png"/>
				<div>
					<div class="title">Artists</div>
					<div class="small-underline" style="width:5.5em"></div>
					<p>
						This is your opportunity to win love of music enthusiasts, work with professionals for music videos worth Rs. 4 Lakhs, get your work reviewed and shared by music celebrities and multiple social media channels! Register with us for a nominal amount which gets transferred to CRY - Child Rights and You in order to help underprivileged children!
					</p>
				</div>
			</li>
			<li>
				<div>
					<div class="title" style="text-align:right">Music Lovers</div>
					<div class="small-underline" style="width:12em;position:relative;left:75%;"></div>
					<p>Support your college, view undiscovered content, exert the power of being a music enthusiast by voting for the top musicians! Show us some love!</p>
				</div>
				<img src="media/artist.png"/>
			</li>
			<li>
				<img src="media/artist.png"/>
				<div>
					<div class="title">Leaderboard</div>
					<div class="small-underline" style="width:11em"></div>
					<p>Keep track of the top artists, the winning colleges and make sure that you don’t let your support fall short!</p>
				</div>
			</li>
		</ul>
		<div class="heading" style="margin-bottom:5%;">
			Leaderboard (Artist)
			<div class="underline" style="width:3em;"></div>
		</div>
		<div class="leaderboard"> 
			<div class="container" style="height:100%">
				<div class="row" style="height:100%">
					<div class="col s4 cover" style="height:100%">
					<div>
						<p style="font-weight:10">WEEKLY</p>
						<p style="margin-top:0;font-weight:10">LEADERBOARD</p>
					</div>
					<img src="../media/logo.png">
					<p style="font-size:60%;font-weight:100;padding-left:10%;padding-right:10%;">Disclaimer:The leaderboard is compiled by comparing the view over a week starting on monday.</p>
					</div>
					<div class="col s7 list" style="height:96.5%;padding:0;margin-top:1%;">
						<ul>
							<li ng-repeat="artist in artists" ng-click="setArtist(artist.code)">
								<a ng-href="#!artist/{{currentArtist.code}}">
								<div class= "image" style="background:url({{artist.profile_pic}});background-size:cover;background-position:50% 50%;"></div>
								<div>
									<div class="name">{{artist.first_name}}</div>
									<div style="font-weight:bold;font-size:120%">{{artist.last_name}}</div>
									<div class="views">{{artist.views}} Views</div>
								</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="heading" style="margin-bottom:5%;">
			Leaderboard (Colleges)
			<div class="underline" style="width:3em;"></div>
		</div>
		<div class="leaderboard"> 
			<div class="container" style="height:100%">
				<div class="row" style="height:100%">
					<div class="col s4 cover" style="height:100%">
					<div>
						<p style="font-weight:10">WEEKLY</p>
						<p style="margin-top:0;font-weight:10">LEADERBOARD</p>
					</div>
					<img src="../media/logo.png">
					<p style="font-size:60%;font-weight:100;padding-left:10%;padding-right:10%;">Disclaimer:The leaderboard is compiled by comparing the view over a week starting on monday.</p>
					</div>
					<div class="col s7 list" style="height:96.5%;padding:0;margin-top:1%;">
						<ul>
							<li ng-repeat="college in colleges">
							<a href="#">
								<div class= "image" style="background:url({{college.img}});background-size:cover;background-position:50% 50%;"></div>
								<div>
									<div class="name" style="font-size:130%;">{{college.name}}</div>
									<div >{{college.city}}</div>
									<div class="view">{{college.views}} Views</div>
								</div>
							</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
