<div class="artistWrapper">
	<div class="header" style="height:30vh">
		<div class="top">
			<div class="logo">
				<img src="img/logo.png"/>
				<div class="text" style="z-index:5;"><a ng-href="#!/">star connect</a></div>
			</div>
			<div class="navbar">
				<ul>
					<li><a ng-href="#!whatsup">What's Up?</a></li>
					<li><a ng-href="#!artistlist">Artists</a></li>
					<li><a ng-href="#!celebritylist">Celebrities</a></li>
					<li class="button"><a ng-href="/#!/joinus">Join Us</a></li>
				</ul>
			</div>
		</div>
		<div class="heading">
			<p style="font-size:350%;position:relative;top:-30%;">What's up?</p>
		</div>
	</div>
</div>